sample-Schema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://tempuri.org/test.xsd"
           targetNamespace="http://tempuri.org/test.xsd" elementFormDefault="qualified">

    <xs:element name="CourseDetailsRequest" type="tns:CourseDetailsRequestType"/>

        <xs:complexType name="CourseDetailsRequestType">
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>

</xs:schema>


